

<h3> Get Random User </h3>

  <div ng-show="vm.randomUser">
    <img src="{{vm.randomUser.avatar}}" alt="Image">
  </div>

  <form ng-submit="vm.login(vm.username, vm.password)" class="horizontal-form"
     method="post">
     <div class="form-group">
        <label for="username"> username:
          <input type="text" name="vm.username" class="form-control" ></label>
      </div>

     <div class="form-group">
     <label for="password"> password
       <input type="text" name="vm.password"  class="form-control"></label>
     </div>

  </form>
  <div class="form-group">

    <button type="button" class="btn btn-primary" ng-click="vm.login()">
        Login
    </button>
  </div>

  <div class="form-group">

    <button type="button" class="btn btn-primary" ng-click="vm.getRandomUser()">
        Get User
    </button>
    <pre ng-bind="vm.randomUser | json"> </pre>
  </div>
